@import 'foundation';
@import 'motion-ui';

@import 'partials/foundation_settings';
@import 'partials/foundation_imports';

body{
  background-color: #FAFAFA;
}

$blue: #29BEC8;
$grey: #676767;
$orange: #FD9720;
// grey-theme: #90A0A6;
$software-engineer: $blue;
$site-reliability: $blue;
$black: #333333;

.resume{
  background-color: #FFFFFF;
  padding: 1rem 1rem 2rem;
  max-width: 72.5rem;
  margin: auto;
  // border-top: 30px solid $blue;

  @include breakpoint(large){
    padding: 3rem;
  }
}

.resume .row{
  background-color: #FFFFFF;
}

.resume .large-4{
  // background-color: pink;

  @include breakpoint(large){
    padding-right: 40px;
  }
}

a{
  color: $blue;
  transition: all 0.2s ease;
  text-decoration: none;

  &:hover{
    color: darken($blue, 20%);
    transition: all 0.2s ease;

    .software-resume &{
      color: darken($software-engineer, 10%);
    }

    .site-reliability-resume &{
      color: darken($site-reliability, 10%);
    }
  }

  .software-resume &{
    color: $software-engineer;
  }

  .site-reliability-resume &{
    color: $site-reliability;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li{
  margin: 0;
  padding: 0;
}

h1{
  color: $blue;
  font-size: 70px;
  line-height: 82px;
  // border-bottom: 7px solid $blue;
  padding-bottom: 30px;
  // margin-bottom: 38px;
  margin-top: 10px;

  text-align: center;

  .software-resume &{
    color: $software-engineer;
  }

  .site-reliability-resume &{
    color: $site-reliability;
  }

  span{
    transform: translateX(-4px);
    display: block;
  }

  @include breakpoint(large){
    margin-top: 0;
    text-align: left;
  }

  .portfolio &{
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    padding-bottom: 10px;
  }
}

h1, h3{
  font-family: 'Fjalla One', "Helvetica Nueue", sans-serif;
  text-transform: uppercase;
}

h2{
  
  font-family: 'Open Sans', "Helvetica Nueue", sans-serif;
  font-weight: 800;

  display: flex;
  flex-flow: row nowrap;

  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin-top: 37px;
  margin-bottom: 37px;

  &:before{
    color: $blue;
    flex: 0 0 auto;
    padding-right: 5px;

    .software-resume &{
      color: $software-engineer;
    }

    .site-reliability-resume &{
      color: $site-reliability;
    }
  }

  &:after{
    content: " ";
    flex: 1 1 auto;
    border-bottom: 7px solid $blue;
    transform: translateY(-2px);

    .software-resume &{
      border-bottom-color: $software-engineer;
    }

    .site-reliability-resume &{
      border-bottom-color: $site-reliability;
    }
  }

  &.skills-title:before{
    content: "Skills";
  }

  &.awards-title:before{
    content: "Awards";
  }

  &.work-title:before{
    content: "Work";
  }

  &.experience-title:before{
    content: "Experience";
  }

  &.projects-title:before{
    content: "Projects";
  }

  &.education-title:before{
    content: "Education";
  }

  &.community-title:before{
    content: "Workshops / Community";
  }

  &.play-games-title:before{
    content: "Play Games";
  }

  &.flash-games-title:before{
    content: "Flash Games";
  }

  &.public-projects-title:before{
    content: "Projects";
  }

  span{
    display: none;
  }
}

h3{
  font-size: 21px;
  letter-spacing: 1px;
  color: $black;
}

h4{
  font-family: 'Raleway', "Helvetica Nueue", sans-serif;
  font-weight: 600;
  color: $grey;
  margin-top: 3px;
  margin-bottom: 3px;
}

.smallcaps,
.location,
.url{
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.date + .location{
  margin-left: 10px;
  padding-left: 10px;
}

.date + .url,
.url + .url,
.location,
.location + .url{
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid $grey;
}

ul, li, p{
  font-family: 'Open Sans', "Helvetica Nueue", sans-serif;
}

ul.contact{
  border-top: 7px solid $blue;
  margin-top: 35px;
  padding-top: 35px;

  .software-resume &{
    border-top-color: $software-engineer;
  }

  .site-reliability-resume &{
    border-top-color: $site-reliability;
  }

  li{
    list-style-type: none;
    padding-left: 30px;
    line-height: 23px;

    + li{
      margin-top: 10px;
    }

    a{
      color: $grey;

      &:hover{
        color: $blue;

        .software-resume &{
          color: $software-engineer;
        }

        .site-reliability-resume &{
          color: $site-reliability;
        }
      }
    }
  }
}

ul.contact, ul.contact li{
  font-family: 'Raleway', "Helvetica Nueue", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

li.icon-github,
li.icon-email,
li.icon-linkedin,
li.icon-twitter,
li.icon-exercism,
li.icon-download{
  background-size: 20px auto;
  background-position: left center;
  background-repeat: no-repeat;
}

li.icon-github{
  background-image: url('../images/hexagon-github.svg');

  .software-resume &{
    background-image: url('../images/hexagon-github.svg');
  }

  .site-reliability-resume &{
    background-image: url('../images/hexagon-github.svg');
  }
}

li.icon-email{
  background-image: url('../images/hexagon-email.svg');

  .software-resume &{
    background-image: url('../images/hexagon-email.svg');
  }

  .site-reliability-resume &{
    background-image: url('../images/hexagon-email.svg');
  }
}

li.icon-linkedin{
  background-image: url('../images/hexagon-linkedin.svg');

  .software-resume &{
    background-image: url('../images/hexagon-linkedin.svg');
  }

  .site-reliability-resume &{
    background-image: url('../images/hexagon-linkedin.svg');
  }
}

li.icon-twitter{
  background-image: url('../images/hexagon-twitter.svg');

  .software-resume &{
    background-image: url('../images/hexagon-twitter.svg');
  }

  .site-reliability-resume &{
    background-image: url('../images/hexagon-twitter.svg');
  }
}

li.icon-exercism{
  background-image: url('../images/hexagon-exercism.svg');

  .software-resume &{
    background-image: url('../images/hexagon-exercism.svg');
  }

  .site-reliability-resume &{
    background-image: url('../images/hexagon-exercism.svg');
  }
}

li.icon-download{
  background-image: url('../images/hexagon-download.svg');

  .software-resume &{
    background-image: url('../images/hexagon-download.svg');
  }

  .site-reliability-resume &{
    background-image: url('../images/hexagon-download.svg');
  }
}

ul.skills,
ul.awards{
  color: $black;
  margin-left: 18px;

  li{
    font-size: 15px;
    line-height: 20px;

    + li{
      margin-top: 18px;
    }
  }
}

p{
  font-size: 16px;
  line-height: 22px;
  color: $black;
}

div.statement{
  border-top: 7px solid $blue;
  padding-top: 35px;
  // padding-bottom: 10px;
  margin-top: 35px;

  @include breakpoint(large){
    margin-top: 8px;
  }

  .software-resume &{
    border-top-color: $software-engineer;
  }

  .site-reliability-resume &{
    border-top-color: $site-reliability;
  }
}

h4 .education-text{
  font-family: 'Open Sans', "Helvetica Nueue", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $black;
  margin-left: 20px;
}

ul.work,
ul.experience,
ul.education,
ul.projects,
ul.community{
  list-style-type: none;

  li + li{
    margin-top: 30px;
  }
}

ul.bullets{
  list-style-type: disc;
  margin-left: 20px;

  li + li{
    margin-top: 10px;
  }
}

ul.community .date{
  width: 100px;
  display: inline-block;
}
.profile-pic{
  max-width: 300px;
  margin: auto;
  display: block;

  @include breakpoint(large){
    max-width: none;
  }
}

.header-bar{
  background-color: $blue;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .profile-pic{
    flex: 0 0 35px;
    margin: 0;
    padding: 0;
    padding: 5px;
    
    @include breakpoint(medium){
      margin-right: 5px;
    }

    img{
    }
  }

  h2{
    font-family: 'Fjalla One', "Helvetica Nueue", sans-serif;
    flex: 1 1 180px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 0;
    padding: 0;

    &:after{
      display: none;
    }
  }

  ul.contact{
    flex: 0 0 105px;
    margin: 0;
    padding: 0;
    border-top: 0;
    text-align: left;
    display: flex;
    flex-flow: row nowrap;

    @include breakpoint(large){
      flex: 0 0 auto;
      text-align: right;
    }
  }
  
  ul.contact li{
    flex: 0 0 35px;
    margin: 0;
    padding-left: 0;

    @include breakpoint(large){
      flex: 0 0 auto;
      margin: 0 15px 0 5px;
    }
  }

  li.icon-email,
  li.icon-linkedin,
  li.icon-twitter,
  li.icon-exercism{
    background-image: none;
  }

  li.icon-email a{
    background-image: url('../images/hexagon-email-white.svg');
  }

  li.icon-linkedin a{
    background-image: url('../images/hexagon-linkedin-white.svg');
  }

  li.icon-twitter a{
    background-image: url('../images/hexagon-twitter-white.svg');
  }

  li.icon-exercism a{
    background-image: url('../images/hexagon-exercism-white.svg');
  }

  ul.contact li a{
    color: white;
    margin: 0;
    padding: 0;
    line-height: 40px;
    width: 35px;
    height: 40px;
    overflow: hidden;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    color: transparent;

    @include breakpoint(large){
      width: auto;
      background-position: left center;
      color: white;
      padding-left: 25px;
    }
  }
}

ul.play-games,
ul.flash-games,
ul.public-projects{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0 0 -20px;

  @include breakpoint(medium){
    margin: 0 -1% -20px;
  }

  @include breakpoint(large){
    margin: 0 -1.1666667% -25px;
  }

  > li{
    list-style-type: none;
    border: 1px solid $blue;
    background-color: white;
    padding: 20px;

    flex: 0 0 100%;
    margin: 0 0 20px;

    @include breakpoint(medium){
      flex: 0 0 48%;
      margin: 0 1% 20px;
    }

    @include breakpoint(large){
      flex: 0 0 31%;
      margin: 0 1.1666667% 25px;
    }

    // &:hover{
    //   background-image: url('http://placehold.it/500x500/');
    //   background-size: cover;
    //   background-position: center center;
    //   background-repeat: no-repeat;
    //   border: 1px solid transparent;
      
    //   a, ul, h3{
    //     color: #FFFFFF;
    //     transition: all 0.2s ease;
    //   }

    //   ul{

    //   }
    // }

    h3, ul, a{
      transition: all 0.2s ease;
    }

    a{
      display: inline-block;
      line-height: 19px;

      span.domain{
        display: block;
      }
    }

    ul.bullets li{
      font-size: 14px;
      line-height: 18px;

      + li{
        margin-top: 10px;
      }
    }
  }
}